.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 18s linear;
  }
}

.App-header {
  background: #190e10;  /* Deep, dark maroon base */
  color: #F5E6E8; /* Soft off-white for contrast */
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
